.app-wrapper {
  margin: auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
    "h h h"
    "n c o"
    "f f f";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 5px;
}
